html {
    font-size: 62.5%;
}
body {
    font-family: "Noto Sans KR", "Malgun Gothic", sans-serif;
}
input[type='text'],button{
    border: 0;
    border-radius: 0;
    font-family: inherit;
    outline-style: none;
    background-color: transparent;
}
.h_top{
    padding: 1.7rem 0;
}
.h_top>.logo{
    text-align: center;
}
.h_top>ul{
    display: none;
}
header nav {
    display: none;
}
header .nav_mobile{
    position: fixed;
    top: 0; left: -45rem;
    z-index: 500;
    width: 90%; height: 100%;
}
header .btn_open{
    position: absolute;
}
header .btn_open>span{
    display: block;
    font-size: 0;
    width: 2.5rem; height: 2.5rem;
    background: url(images/layout_m.png) no-repeat -296px 0;
}
header .nav_all_m{
    display: none;
    height: 100%;
}
header .header_util_m{
    background: #003964;
}
header .personal_wrap{
    padding: 1.5rem 5% 2.2rem;
}
header .m_logo{
    
}
header .m_logo>span{
    display: block;
    width: 14rem; height: 4rem;
    font-size: 0;
    background: url(../Lib_img/revise_logo_sub_75w.png) no-repeat 0 0;
    background-size: cover;
}
header .login_bx{
    border: 1px solid #114f7d;
    text-align: center;
}
header .login_bx>strong{
    display: inline-block;
    position: relative;
    padding: 1.2rem 0 1.2rem 4.5rem;
    font-size: 1.7rem;
    font-weight: 500;
    letter-spacing: .1rem;
    text-align: left;
    color: #fff;
}
header .login_bx>strong:before{
    display: block;
    content: '';
    position: absolute;
    top: 50%; left: 0;
    margin-top: -1.5rem;
    width: 3.2rem; height: 3rem;
    background: url(images/layout_m.png) no-repeat -204px -212px;
}
header .login_bt{
    margin: 2rem 2rem 0 2rem;
}
header .login_bt>a{
    display: inline-block;
    width: 47%; 
    font-size: 1.8rem;
    background: #197ac4;
    text-align: center;
    line-height: 3.5rem;
    color: #fff;
    margin-right: 1.5rem;
}
header .login_bt>a:nth-of-type(2){
    margin: 0;
}
header .menu_all_inner{
    height: 100%;
    background: #f4f4f4;
}
header .m_all_depth1>a{
    display: inline-block;
    width: 30%;
    padding: 1.2rem;
    font-size: 1.8rem;
    line-height: 2.5rem;
    border-bottom: 1px solid #c0c9cd;
    text-align: center;
    color: #000;
}
header .m_all_depth1>a.on{
    background: #fff;
    color: #0076d0;
}
header .m_all_depth1_cate{
    position: fixed;
    top: 19.2rem;
    left: 31.5%;
    width: 58.6%; height: 100%;
    padding: 0 2rem;
    background: #fff;
    border-left: 1px solid #c0c9cd;
    -webkit-box-sizing: border-box;
}
header .m_all_depth1_cate>p{
    display: block;
    margin-top: 2.5rem;
    font-size: 2.1rem;
    font-weight: 600;
    color: #000;
}
header .m_all_depth2{
    margin-top: 1.5rem;
    border-bottom: 1px solid #dce3e6;
}
header .m_all_depth2>li{
    border-top: 1px solid #dedede;
}
header .m_all_depth2>li>a{
    display: block;
    padding-left: .7rem;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 4rem;
    color: #201f1f;
}
header .m_site_map{
    display: inline-block;
    width: 27%;
    margin: 1rem 4%;
    font-size: 1.6rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 40px;
    background: #197ac4;
    color: #fff;
}
main > .main_wide {
    background: url(images/main_wide.jpg) no-repeat 0 0;
}
main > .main_wide > .main_cont {
    width: 100%;
    overflow: hidden;
}
main > .main_wide > .main_cont > h2 {
    display: none;
}
main > .main_wide > .main_cont > h2>span{
    display: block;
    font-size: 4rem;
    opacity: 0.8;
}
main > .main_wide > .main_cont > .service {
    padding: 15rem 0;
    overflow: hidden;
}
main > .main_wide > .main_cont .service_list > li {
    float: right;
    padding-left: 1rem;
    padding-top: 1rem;
}
main > .main_wide > .main_cont .service_list > li.bottom {
    clear: both;
}
main > .main_wide > .main_cont .service_list > li > a {
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(60,60,60,0.2);
}
main > .main_wide > .main_cont .service_list > li:nth-of-type(1) > a {
    background: #3bbaf3;
}
main > .main_wide > .main_cont .service_list > li:nth-of-type(2) > a {
    background: #fbfbfc;
}
main > .main_wide > .main_cont .service_list > li:nth-of-type(3) > a {
    background: #eaa149;
}
main > .main_wide > .main_cont .service_list > li:nth-of-type(4) > a {
    background: #6d6d6d;
}
main > .main_wide > .main_cont .service_list > li:nth-of-type(5) > a {
    background: #fbfbfc;
    color: #1d1d1d;
}
main > .main_wide > .main_cont .service_list > li:nth-of-type(6) > a {
    background: #a381d1;
}
main > .main_wide > .main_cont .service_list > li > a > img {
    width: 12rem;
    height: 12rem;
}
main > .main_wide > .main_cont .service_list > li > a > span {
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
main > .main_wide > .main_cont .service_list > li.black > a > span {
    color: #1d1d1d;
}
main>.main_search{
    background: linear-gradient(45deg, #3669AC, #329BBA );
}
main>.main_search>.s_con{
    padding: 3rem 2rem;
    display: flex;
}
main>.main_search .search_text{
    position: relative;
    margin-right: 20px;
    width: calc(100% - 15rem);
    border-bottom: 2px solid rgba(250,250,250,0.8);
}
main>.main_search .search_text>label{
    position: absolute;
    top: 30%; left: 1rem;
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
}
main>.main_search .m_search{
    font-size: 2.3rem;
    color: #fff;
}
main>.main_search .btn_search{
    padding: 14px 12px;
    font-size: 1.5rem;
    background: rgba(250,250,250,0.45);
    color: #fff;
}
main>.main_search .details_btn{
    padding: 4px 12px;
    margin-right: 15px;
    font-size: 1.5rem;
    background: rgba(250,250,250,0.45);
    color: #fff;
}
main>.main_news{
    background: #f9f8f8;
}
main h3{
    font-size: 2rem;
    font-weight: 200;
    padding-bottom: 2rem;
}
main h3>span{
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 2rem;
}
main .news_cont {
    padding-top: 7rem;
}
main .main_info{
    position: relative;
    padding: 0 1.5rem;
    width: 100%;
}
main .main_info>.swipe{
    position:relative;
    overflow: hidden;
    width: 100%;
    height: 40rem;
}
main .swipe_all>ul>li{
    position:absolute; 
    left:0; top:0;
}
main .swipe_all>ul>li.on{
    z-index:100;
}
main .swipe_all>ul>li.past{
    z-index:50;
}
main .swipe_all>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
main .swipe_all>ul>li>a>img{
    width: 155%;
}
main .info_control{
    position: absolute;
    bottom: -5rem; left: calc(50% - 8rem);
}
main .info_bullet{
    
}
main .info_bullet>li{
    float: left;
    padding-right: 1.5rem;
}
main .info_bullet>li.on>a{
    width: 1.8rem;
    background-color: rgba(106,106,106,0.8);
}
main .info_bullet>li>a{
    display: block;
    width: 0.8rem; height: 0.8rem;
    font-size: 0;
    border-radius: 0.4rem;
    background-color: rgba(180,180,180,0.8);
}
main .info_stop{
    position: absolute;
    top: -1rem; right: -5.5rem;
    width: 2.5rem; height: 2.5rem;
}
main .info_stop>img{
    width: 2.5rem; height: 2.5rem;
}
main .n_board {
    position: relative;
    width: 100%;
    padding: 10rem 1.5rem;
}
main .n_item{
    display: inline-block;
}
main .n_item.on{
    z-index: 100;
    border-bottom: 5px solid #29799d;
}
main .n_item:not(:first-child){
    margin-left: 3rem;
}
main .n_board>ul>li>a>span{
    font-size: 2.3rem;
    line-height: 6rem;
    color: #000;
}
main .tabpanel_wrap{
    position: relative;
    height: 28.5rem;
    margin-top: 3rem;
    padding: 3rem 2rem;
    background: #fff;
}
main .tabpanel{
    position: absolute;
    background-color: #fff;
}
main .tabpanel.on {
    z-index: 100;
}
main .tabpanel>ul{
    overflow: hidden;
}
main .tabpanel>ul>li{
    clear:both;
    padding-top: 2.5rem;
}
main .tabpanel>ul>li:nth-child(1){
    padding-top: 0;
}
main .tabpanel>ul>li>a{
    display: block;
    vertical-align: middle;
}
main .tabpanel>ul>li>a>span{
    float:left;
    min-width: 3.5rem;
    margin-right: 1rem;
    font-size: 1.3rem;
    line-height: 2.5rem;
    background: #419ac5;
    text-align: center;
    color: #fff;
}
main .tabpanel>ul>li>a>p{
    float:left;
    overflow: hidden;
    width: 60%;
    line-height: 2.5rem;
    font-size: 1.5rem;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
}
main .tabpanel>ul>li>a>time{
    float: right;
    padding-left: 2rem;
    font-size: 1.4em;
    color: #757575;
}
main .panel2,.panel3{
    display: none;
}
main .panel2>ul>li>a>p,main .panel3>ul>li>a>p{
    width: 48rem;
}
main .n_plus>a{
    position: absolute;
    top: 2rem; right: 3rem;
    width: 2.5rem; height: 2.5rem;
    display: block;
    background: url(images/bg_layout_1.png) 0 0 no-repeat;
}
main .main_collect{
    background: url(../Lib_img/main_collect.jpg) 0 0 no-repeat;
}
main .collec_cont{
    width: 100%;
}
main .collec_cont>h3{
    padding-top: 5rem;
    text-align: center;
}
main .collec_group{
    overflow: hidden;
    padding-top: 4rem;
}
main .collec_group strong{
    display: block;
}
main .collec_group>.s_collec{
    display: none;
}
main .collec_group>.s_collec>a{
    display: block;
    width: 100%;
    background: #fff;
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(80,80,80,0.2);
}
main .collec_group>.s_collec>a>span.collect_text{
    display: block;
    padding: 2rem;
    color: #575757;
}
main .collec_group>.s_collec>a>span>strong{
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
}
main .collec_group>.s_collec>a>span.collect_text>span{
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    width: 27rem; height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}
main .collec_box{
    position: relative;
    overflow: hidden;
    width: 100%; height: 34.2rem;
    padding-right: 0;
}
main .collec_swipe{
    
}
main .collec_swipe>ul>li{
    position: absolute;
    top: 0; left: 0;
    float: left;
}
main .collec_swipe>ul>li.on{
    z-index: 100;
}
main .collec_swipe>ul>li.past{
    z-index: 50;
}
main .collec_swipe>ul>li>a>.collect_text{
    position: absolute;
    bottom: 0; right: 7.7rem;
    padding: 2rem;
    background: #9b8d80;
    color: #fff;
}
main .collec_swipe>ul>li>a>.collect_text>strong{
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 3rem;
}
main .collec_swipe>ul>li>a>.collect_text>span{
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    width: 22rem; height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: 0.1rem;
}
main .collec_control{
    position: absolute;
    top: -2rem; left: 2rem;
}
main .collec_bullet{
    
}
main ul.collec_bullet>li{
    float: left;
    padding-right: 1.2rem;
}
main ul.collec_bullet>li>a{
    display: block;
    width: 1rem; height: 1rem;
    font-size: 0;
    border-radius: 0.4rem;
    background-color: rgba(255,255,255,1);
}
main ul.collec_bullet>li.on>a{
    background-color: rgba(160,160,160,0.8);
}
main .lib_cont{
    width: 100%;
}
main .lib_cont>h3{
    padding: 5rem 0;
    text-align: center;
}
main .main_book{
    height: 50rem;
}
main .book_item{
    float: left;
    width: 45%;
    padding: 0 2rem 1rem 0;
    border: 0;
}
main .book_swipe_list2,.book_swipe_list3,.book_swipe_list4{
    display: none;
}
main .book_menu>ul>li>a{
    display: block;
    font-size: 2rem;
    line-height: 5rem;
    color: #fff;
    text-align: center;
    background: #3980b2;
    border-radius: 30px;
}
main .book_cont{
    position: relative;
    float: left;
    width: 79%;
    padding-left: 10rem;
}
main .book_cont>ul{
    position: absolute;
    margin-top: 30px;
    background-color: #fff;
    top: 0; left: calc(50% - 21.5rem);
    width: 90%;
    display: flex;
    justify-content: space-around;
}
main .book_cont>ul>li:nth-child(n+3){
    display: none;
}
main .book_cont>ul>li>a>.book_img{
    display: block;
    width: 16rem;
    height: 23.5rem;
}
main .book_cont>ul>li>a>span>img{
    width: 100%;
    height: 100%;
    box-shadow: 0.2rem 0.2rem 0.3rem rgba(80,80,80,0.2);
}
main .book_cont>ul>li>a>.book_name{
    padding-top: 2rem;
    font-size: 1.5rem;
    color: #676767;
}
main .book_cont>ul>li>a>.book_name>strong{
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
    width: 15rem; height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    padding-top: 2rem;
    font-weight: bold;
    line-height: 2rem;
    color: #000;
}
main .book_cont>ul>li>a>.book_name>span{
    display: block;
    width: 15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
main .photo_news{
    background: url(images/main_news.jpg) 0 0 no-repeat ;
    height: 39.5rem;
}
main .photo_news>.photo_cont{
    width: 126rem;
    margin: 0 auto;
}
main .photo_cont>h3{
    padding: 6rem 12rem;
    color: #fff;
}
main .photo_cont>.news_list{
    position: relative;
}
main .news_list>.news_item{
    position: absolute;
    width: 19%;
}
main .news_list>.item_1{
    top: 0; left: 0;
}
main .news_list>.item_2{
    top: 0; left: 20.2%;
}
main .news_list>.item_3{
    top: 0; left: 40.4%;
}
main .news_list>.item_4{
    top: 0; left: 60.6%;
}
main .news_list>.item_5{
    top: 0; left: 80.8%;
}
main .news_list>.item_6{
    top: 35rem; left: 0;
}
main .news_list>.item_7{
    top: 35rem; left: 20%;
}
main .news_list>.item_8{
    top: 36rem; right: 0;
}
main .news_list>.news_item>a{
    display: block;
    width: 100%;
    background: #fff;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(100,100,100,0.2);
}
main .news_list>.news_item>a>span>img{
    width: 24rem;
}
main .news_item .photo_text{
    display: block;
    padding: 2rem;
}
main .news_item .photo_text>time{
    font-size: 1.1rem;
    color: #7b7b7b;
}
main .news_item .photo_text>strong{
    display: block;
    padding-top: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: #404040;
}
main .news_item .photo_text>span{
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 2rem;
    letter-spacing: 0.1rem;
    font-size: 1.3rem;
    font-weight: 300;
    color: #404040;
    padding-top: 1rem;
}
footer{
    margin-top: 70rem;
    background: #4a5862;
}
footer>.footer_top{
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
footer .promo_cont{
    width: 126rem;
    margin: 0 auto;
    padding-top: 3rem;
}
footer .main_promotion{
    float: left;
}
footer .promotion_list{
    overflow: hidden;
}
footer .promotion_list>li{
    float: left;
    margin-right: 1.5rem;
}
footer .site_promotion{
    float: left;
}
footer .site_box{
    overflow: hidden;
    width: 35rem;
}
footer .box_list{
    width: 315%;
}
footer .site_list{
    overflow: hidden;
}
footer .site_list>li{
    float: left;
    margin-right: 1.3rem;
}
footer .footer_util{
    clear: both;
    margin: 3rem 0;
}
footer .util_list{
    overflow: hidden;
}
footer .util_list>li{
    float: left;
    padding-right: 2rem;
}
footer .util_list>li>a{
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
}
footer .footer_bottom{
    width: 126rem;
    margin: 3.5rem auto;
    
}
footer .policy_list{
    overflow: hidden;
}
footer .policy_list>li{
    float: left;
    padding-right: 2rem;
}
footer .policy_list>li>a{
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
}
footer .policy_add{
    padding-top: 3rem;
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 3rem;
    color: #fff;   
}
footer .img_box{
    display: flex;
}