html {
    font-size: 62.5%;
}
body {
    font-family: "Noto Sans KR", "Malgun Gothic", "sans-serif";
}
input[type='text']{
    border-radius: 0;
    background-color: transparent;
    border: 0;
    background: 0;
}
button{
    border: 0;
    background: 0 0;
    cursor: pointer;
}
.wide_search{
    background: gray;
}
.wide_search_cont{
    max-width: 66vw;
    margin: 0 auto;
    padding-bottom: 5rem;
}
.wide_search_cont>h2{
    padding: 7rem 0;
    font-family: "맑은 고딕", "sans-serif";
    font-size: 3.7rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.search_form_group{
    position: relative;
    width: 94rem;
    height: 5rem;
    margin: 0 auto;
    background: rgba(255,255,255,0.8);
    border-bottom: 2px solid #4d85bd;
}
.search_form_group>form{
    height: 100%;
}
.search_form{
    width: 70%;
    height: 100%;
}
.search_form>label{
    position: absolute;
    top: 40%; left: 3%;
    font-size: 1.5rem;
    color: rgba(64,64,64,0.75);
}
#input_txt{
    width: 100%;
    height: 100%;
    padding-left: 3rem;
}
.search_button{
    position: absolute;
    top: 0; right: 0;
}
.button_lang{
    height: 100%;
    padding: 1.4rem 0;
}
.button_lang>span{
    display: inline-block;
    width: 41px; height: 25px;
    font-size: .5rem;
    color: transparent;
    vertical-align: top;
    background: url(images/bg_layout_1.png) no-repeat -20px -26px;
}
.button_search{
    height: 100%;
    padding: 0 2rem;
}
.button_search>span{
    display: inline-block;
    width: 29px; height: 28px;
    font-size: .5rem;
    color: transparent;
    vertical-align: top;
    background: url(images/bg_layout_1.png) no-repeat -65px -26px;
}
.page_menu{
    height: 5.5rem;
    background-image: linear-gradient(45deg, #3669ac,#3bbaf3);
}
.menu_middle{
    width: 66vw;
    margin: 0 auto;
}
.menu_group{
    float: left;
}
.menu_list{
    position: relative;
    float: left;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.menu_list>a{
    display: block;
    padding-left: 2rem;
    font-family: "맑은 고딕", "sans-serif";
    font-size: 1.4rem;
    line-height: 5.5rem;
    color: #fff;
}
.list_1{
    border-left: 1px solid rgba(255,255,255,0.5);
}
.list_1>a{
    display: block;
    padding: 2rem;
}
.list_home{
    display: block;
    width: 1.5rem; height: 1.5rem;
    color: transparent;
    background: url(images/bg_layout_1.png) no-repeat 0 -31px;
}
.list_2{
    width: 28rem;
}
.list_2:after{
    content: '';
    position: absolute;
    width: 1.3rem; height: 1.2rem;
    top: 40%; right: 5%;
    background: url(images/bg_layout_1.png) no-repeat -29px 0;
}
.page_menu_depth2{
    display: none;
    position: absolute;
    z-index: 150;
    width: 100%;
    top: 5.5rem;
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
}
.depth2_list:hover>a{
    color: #fff;
    font-weight: bold;
    background: linear-gradient(45deg, #3669ac,#3bbaf3);
}
.depth2_list>a{
    display: block;
    padding-left: 1.5rem;
    font-size: 1.3rem;
    line-height: 4.5rem;
    color: #222;
}
.list_3{
    width: 29rem;
}
.list_3:after{
    content: '';
    position: absolute;
    width: 1.3rem; height: 1.2rem;
    top: 40%; right: 5%;
    background: url(images/bg_layout_1.png) no-repeat -29px 0;
}
.button_group{
    float: right;
}
.button_box{
    overflow: hidden;
    border-left: 1px solid rgba(255,255,255,0.5);
}
.button_list{
    float: left;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.button_list>a{
    display: block;
    padding: 2rem;
}
.button_list>a>span{
    display: block;
    width: 1.6rem;
    color: transparent;
}
.btn_print{
    background: url(images/bg_layout_1.png) no-repeat 0 -57px;
}
.btn_scrap{
    background: url(images/bg_layout_1.png) no-repeat -20px -58px;
}
.btn_share{
    background: url(images/bg_layout_1.png) no-repeat -37px -58px;
}
.contents{
    width: 66vw;
    margin: 6rem auto;
}
.lnb{
    float: left;
    width: 27rem;
}
.lnb>h2{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    padding: 4rem 0;
    background: #3669ac;
    text-align: center;
}
.menu_lnb{
    margin-top: .4rem;
}
.menu_lnb_list{
    border-bottom: 1px solid #dadada;
}
.menu_lnb_list.active>a{
    background: linear-gradient(45deg, #3669ac,#3bbaf3);
    color: #fff;
}
.add_list.active>a:after{
    content: '';
    position: absolute;
    width: 1rem; height: .2rem;
    top: 50%; right: 2rem;
    background: url(images/bg_layout_1.png) no-repeat -126px -26px;
}
.menu_lnb_list>a{
    position: relative;
    display: block;
    font-size: 1.6rem;
    line-height: 6rem;
    color: #404040;
    padding-left: 2.5rem;
}
.btn_plus:after{
    position: absolute;
    content: '';
    top: 40%; right: 2rem;
    width: 1rem; height: 1rem;
    background: url(images/bg_layout_1.png) no-repeat -149px -28px;
}
.lnb_depth2{
    padding: 1.5rem;
}
.lnb_depth2.on{
    display: block;
}
.lnb_depth2_list>a{
    position: relative;
    display: block;
    font-size: 1.5rem;
    color: #797979;
    line-height: 3rem;
    padding-left: 1.4rem;
}
.lnb_depth2_list>a:hover{
    color: #2c578f;
    font-weight: bold;
}
.lnb_depth2_list>a:before{
    content: '';
    position: absolute;
    top: 40%; left: 0;
    width: 5px; height: 1.4px;
    background: #2c578f;
}
.hidden_depth{
    display: none;
}
.sub_contents{
    float: left;
    width: 74%;
    margin: 0 0 20rem 5rem;
}
.title{
    border-bottom: 2px solid rgba(24,46,76,0.7);
}
.title>h3{
    font-size: 3.5rem;
    font-weight: bold;
    color: #161638;
    padding: 2.5rem 0;
}
.section_all{
    border: 1px solid #c9c9c9;
    border-radius: 10px;
    margin-top: 4.5rem;
}
.section_cont{
    width: 90%;
    margin: 2.5rem auto;
}
.sub_title{
    display: block;
    font-size: 2rem;
    line-height: 5rem;
    background: rgba(54,105,172,0.7);
    border-radius: 10px;
    text-align: center;
    color: #fff;
}
.main_building_hours{
    padding: 3rem .2rem;
}
.main_building_hours>span{
    display: block;
    font-size: 1.7rem;
    color: #e13b3b;
}
.main_building_hours>p{
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 3rem;
}
.hours_use_table{
    padding-top: 3rem;
}
.hours_use_table>table{
    word-break: keep-all;
}
.hours_use_table th{
    width: 25.3rem;
    font-size: 1.7rem;
    text-align: center;
    line-height: 5rem;
    border-radius: 10px;
    color: #686868;
    background: rgba(236,236,236,0.6);
}
table>thead>tr>th.s{
    width: 2rem;
    background: #fff;
}
.hours_use_table>table td.none{
    border: 0;
}
.hours_use_table td{
    font-size: 1.2rem;
    line-height: 2rem;
    vertical-align: middle;
    padding: 3rem .5rem;
    border-bottom: 1px solid #bdbdbd;
}
.hours_use_table td>strong{
    font-size: 1.5rem;
    font-weight: 500;
}
.hours_use_table tbody>tr:nth-of-type(3)>td{
    border: 0;
}
.section_3>p{
    padding-top: 3rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #555555;
}
.dot_no{
    padding-top: 3.5rem;
}
.contents_box{
    height: 38rem;
}
.usecard_box{
    overflow: hidden;
    width: 77.4rem;
}
.usecard_list{
    float: left;
    border-radius: 10px;
    border: 1px solid rgba(236,236,236,0.6);
}
.usecard_list:nth-of-type(2){
    margin: 0 2rem;
}
.usecard_list:nth-of-type(3){
    width: 36%;
}
.usecard_title{
    display: block;
    font-size: 1.7rem;
    text-align: center;
    line-height: 5rem;
    border-radius: 10px 10px 0 0;
    color: #686868;
    background: rgba(236,236,236,0.6);
}
.contents_box>p{
    font-size: 1.4rem;
    line-height: 2rem;
    vertical-align: middle;
    color: #555555;
}
.contents_box>.contents_1{
    padding: 13rem 2rem;
}
.contents_box>.contents_2{
    padding: 4.5rem 2rem;
}
.contents_box>.contents_3{
    padding: 3rem 2rem 0 2rem;
}
.contents_box>.red_txt{
    color: #e13b3b;
}
.dot_list{
    padding-bottom: 5rem;
}
.dot_no{
    color: #686868;
}
.card_issue{
    position: relative;
    display: block;
    padding-left: 3rem;
    font-size: 1.5rem;
}
.card_issue:before{
    position: absolute;
    content: '';
    top: 40%s; left: 0;
    width: 14px; height: 17px;
    background: url(images/bg_layout_1.png) no-repeat -168px -25px;
}
.new_card{
    padding-top: 3.5rem;
}
.give_card{
    display: block;
    font-size: 1.5rem;
    padding-bottom: 4rem;
}
.new_card_box{
    display: flex;
    justify-content: space-between;
}
.new_card_list{
    position: relative;
}
.new_card_list:not(:last-child):after{
    content: '';
    position: absolute;
    top: 40%; right: -3rem;
    width: 2rem; height: 3.7rem;
    background: url(images/bg_layout_1.png) no-repeat -62px -58px;
}
.card_num{
    display: block;
    font-size: 2rem;
    line-height: 4rem;
    background: #43699b;
    color: #fff;
    text-align: center;
    border-radius: 10px 10px 0 0;
}
.card_txt{
    display: block;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-align: center;
    padding: 3rem;
    border: 1px solid rgba(189,189,189,0.6);
    border-radius: 0 0 10px 10px;
}
.card_1{
    padding: 1.8rem 8rem;
}
.card_txt>.blue_txt{
    color: #6e7caf;
}
.card_2{
    padding: 1.8rem 1rem;
}
.card_3{
    padding: 3rem 1rem;
}
.card_txt_2{
    position: relative;
    padding: 11rem 3.7rem 5rem;
    color: #7a87b5;
}
.card_txt_2:after{
    position: absolute;
    content: '';
    top: 15%; left: 25%;
    width: 97px; height: 41px;
    background: url(images/bg_layout_1.png) no-repeat -92px -57px;
}
.card_txt_3{
    padding: 4.3rem 4.4rem;
}
.card_txt_4{
    position: relative;
    padding: 11.8rem 3rem;
    color: #7a87b5;
}
.card_txt_4:after{
    position: absolute;
    content: '';
    top: 20%; left: 31%;
    width: 51px; height: 41px;
    background: url(images/bg_layout_1.png) no-repeat 0 -101px;
}
.use_materials_table{
    margin-top: 3.5rem;
}
.use_materials_box{
    display: flex;
    justify-content: space-between;
}
.materials_list{
    width: 47%;
    border-radius: 10px;
    border: 1px solid rgba(236,236,236,0.6);
}
.materials_title{
    display: block;
    font-size: 1.7rem;
    text-align: center;
    line-height: 5rem;
    border-radius: 10px 10px 0 0;
    color: #686868;
    background: rgba(236,236,236,0.6);
}
.materials_txt{
    display: block;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: #555555;
    padding: 2.5rem 3rem;
}
.section_4>p{
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding-top: 5rem;
}
/*                         footer Start*/
footer{
    clear: both;
    background: #4a5862;
    margin-top: 5rem;
}
.footer_top{
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.footer_util{
    width: 126rem;
    margin: 0 auto;
}
.util_list{
    overflow: hidden;
    padding: 2.5rem 0;
}
.util_list>li{
    float: left;
    padding-right: 2rem;
}
.util_list>li>a{
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
}
.footer_bottom{
    width: 126rem;
    margin: 0 auto;
    padding: 3rem 0;
    overflow: hidden;
}
.policy_list{
    overflow: hidden;
}
.policy_list>li{
    float: left;
    padding-right: 2rem;
}
.policy_list>li>a{
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
}
.policy_add{
    float: left;
    padding-top: 3rem;
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 3rem;
    color: #fff;   
}
.policy_img{
    float: right;
}
.img_box{
    overflow: hidden;
}
.img_list{
    float: left;
}
.footer_wa>a>img{
    width: 9rem; height: 7rem;
}
.footer_open>a>img{
    width: 12rem; height: 5rem;
    padding: 0.8rem 3rem;
}