html {
    font-size: 62.5%;
}
body {
    font-family: "Noto Sans KR", "Malgun Gothic", "sans-serif";
}
input[type='text']{
    border-radius: 0;
    background-color: transparent;
    border: 0;
    background: 0;
}
button{
    border: 0;
    background: 0 0;
    cursor: pointer;
}
.wide_search{
    background: gray;
}
.wide_search_cont{
    max-width: 66vw;
    margin: 0 auto;
    padding-bottom: 5rem;
}
.wide_search_cont>h2{
    padding: 7rem 0;
    font-family: "맑은 고딕", "sans-serif";
    font-size: 3.7rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.search_form_group{
    position: relative;
    width: 94rem;
    height: 5rem;
    margin: 0 auto;
    background: rgba(255,255,255,0.8);
    border-bottom: 2px solid #4d85bd;
}
.search_form_group>form{
    height: 100%;
}
.search_form{
    width: 70%;
    height: 100%;
}
.search_form>label{
    position: absolute;
    top: 40%; left: 3%;
    font-size: 1.5rem;
    color: rgba(64,64,64,0.75);
}
#input_txt{
    width: 100%;
    height: 100%;
    padding-left: 3rem;
}
.search_button{
    position: absolute;
    top: 0; right: 0;
}
.button_lang{
    height: 100%;
    padding: 1.4rem 0;
}
.button_lang>span{
    display: inline-block;
    width: 41px; height: 25px;
    font-size: .5rem;
    color: transparent;
    vertical-align: top;
    background: url(images/bg_layout_1.png) no-repeat -20px -26px;
}
.button_search{
    height: 100%;
    padding: 0 2rem;
}
.button_search>span{
    display: inline-block;
    width: 29px; height: 28px;
    font-size: .5rem;
    color: transparent;
    vertical-align: top;
    background: url(images/bg_layout_1.png) no-repeat -65px -26px;
}
.page_menu{
    height: 5.5rem;
    background-image: linear-gradient(45deg, #3669ac,#3bbaf3);
}
.menu_middle{
    width: 66vw;
    margin: 0 auto;
}
.menu_group{
    float: left;
}
.menu_list{
    position: relative;
    float: left;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.menu_list>a{
    display: block;
    padding-left: 2rem;
    font-family: "맑은 고딕", "sans-serif";
    font-size: 1.4rem;
    line-height: 5.5rem;
    color: #fff;
}
.list_1{
    border-left: 1px solid rgba(255,255,255,0.5);
}
.list_1>a{
    display: block;
    padding: 2rem;
}
.list_home{
    display: block;
    width: 1.5rem; height: 1.5rem;
    color: transparent;
    background: url(images/bg_layout_1.png) no-repeat 0 -31px;
}
.list_2{
    width: 28rem;
}
.list_2:after{
    content: '';
    position: absolute;
    width: 1.3rem; height: 1.2rem;
    top: 40%; right: 5%;
    background: url(images/bg_layout_1.png) no-repeat -29px 0;
}
.page_menu_depth2{
    display: none;
    position: absolute;
    z-index: 150;
    width: 100%;
    top: 5.5rem;
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
}
.depth2_list:hover>a{
    color: #fff;
    font-weight: bold;
    background: linear-gradient(45deg, #3669ac,#3bbaf3);
}
.depth2_list>a{
    display: block;
    padding-left: 1.5rem;
    font-size: 1.3rem;
    line-height: 4.5rem;
    color: #222;
}
.list_3{
    width: 29rem;
}
.list_3:after{
    content: '';
    position: absolute;
    width: 1.3rem; height: 1.2rem;
    top: 40%; right: 5%;
    background: url(images/bg_layout_1.png) no-repeat -29px 0;
}
.button_group{
    float: right;
}
.button_box{
    overflow: hidden;
    border-left: 1px solid rgba(255,255,255,0.5);
}
.button_list{
    float: left;
    border-right: 1px solid rgba(255,255,255,0.5);
}
.button_list>a{
    display: block;
    padding: 2rem;
}
.button_list>a>span{
    display: block;
    width: 1.6rem;
    color: transparent;
}
.btn_print{
    background: url(images/bg_layout_1.png) no-repeat 0 -57px;
}
.btn_scrap{
    background: url(images/bg_layout_1.png) no-repeat -20px -58px;
}
.btn_share{
    background: url(images/bg_layout_1.png) no-repeat -37px -58px;
}
.contents{
    width: 66vw;
    margin: 6rem auto;
}
.lnb{
    float: left;
    width: 27rem;
}
.lnb>h2{
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    padding: 4rem 0;
    background: #3669ac;
    text-align: center;
}
.menu_lnb{
    margin-top: .4rem;
}
.menu_lnb_list{
    border-bottom: 1px solid #dadada;
}
.menu_lnb_list.active>a{
    background: linear-gradient(45deg, #3669ac,#3bbaf3);
    color: #fff;
}
.add_list.active>a:after{
    content: '';
    position: absolute;
    width: 1rem; height: .2rem;
    top: 50%; right: 2rem;
    background: url(images/bg_layout_1.png) no-repeat -126px -26px;
}
.menu_lnb_list>a{
    position: relative;
    display: block;
    font-size: 1.6rem;
    line-height: 6rem;
    color: #404040;
    padding-left: 2.5rem;
}
.btn_plus:after{
    position: absolute;
    content: '';
    top: 40%; right: 2rem;
    width: 1rem; height: 1rem;
    background: url(images/bg_layout_1.png) no-repeat -149px -28px;
}
.lnb_depth2{
    padding: 1.5rem;
}
.lnb_depth2_list>a{
    position: relative;
    display: block;
    font-size: 1.5rem;
    color: #797979;
    line-height: 3rem;
    padding-left: 1.4rem;
}
.lnb_depth2_list>a:hover{
    color: #2c578f;
    font-weight: bold;
}
.lnb_depth2_list>a:before{
    content: '';
    position: absolute;
    top: 40%; left: 0;
    width: 5px; height: 1.4px;
    background: #2c578f;
}
.hidden_depth{
    display: none;
}
.sub_contents{
    float: left;
    width: 74%;
    margin: 0 0 20rem 5rem;
}
.title{
    border-bottom: 2px solid rgba(24,46,76,0.7);
}
.title>h3{
    font-size: 3.5rem;
    font-weight: bold;
    color: #161638;
    padding: 2.5rem 0;
}
.category_notice{
    padding: 2rem;
    margin: 3rem 0;
    background: rgba(235,235,235,0.4);
    border-radius: 10px;
}
.category_notice>p{
    font-size: 1.5rem;
    line-height: 2rem;
    color: #404040;
}
.category_title{
    position: relative;
    display: block;
    font-size: 1.7rem;
    padding-left: 3rem;
    color: #575757;
}
.category_title:before{
    position: absolute;
    content: '';
    top: 15%; left: 0;
    width: 14px; height: 17px;
    background: url(images/bg_layout_1.png) no-repeat -168px -25px;
}
.category_form_item{
    position: relative;
    padding-top: 7rem;
}
.category_swipe{
    margin: 0 auto;
    padding-top: 3rem;
}
.category_box{
    position: relative;
    display: flex;
}
.category_box button{
    position: absolute;
    z-index: 50;
    top: 40%;
    width: 30px; height: 55px;
    color: transparent;
    background: url(images/bg_layout_1.png) no-repeat ;
}
.category_box button.slick-prev{
    left: -6rem;
    background-position: -57px -108px;
}
.category_box button.slick-next{
    right: -3.2rem;
    background-position: -94px -108px;
}
.category_list>a>img{
    width: 93%;
}
/*                         footer Start*/
footer{
    clear: both;
    background: #4a5862;
    margin-top: 5rem;
}
.footer_top{
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.footer_util{
    width: 126rem;
    margin: 0 auto;
}
.util_list{
    overflow: hidden;
    padding: 2.5rem 0;
}
.util_list>li{
    float: left;
    padding-right: 2rem;
}
.util_list>li>a{
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
}
.footer_bottom{
    width: 126rem;
    margin: 0 auto;
    padding: 3rem 0;
    overflow: hidden;
}
.policy_list{
    overflow: hidden;
}
.policy_list>li{
    float: left;
    padding-right: 2rem;
}
.policy_list>li>a{
    display: block;
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
}
.policy_add{
    float: left;
    padding-top: 3rem;
    font-size: 1.3rem;
    font-weight: 200;
    line-height: 3rem;
    color: #fff;   
}
.policy_img{
    float: right;
}
.img_box{
    overflow: hidden;
}
.img_list{
    float: left;
}
.footer_wa>a>img{
    width: 9rem; height: 7rem;
}
.footer_open>a>img{
    width: 12rem; height: 5rem;
    padding: 0.8rem 3rem;
}