.head{
    background: #144f7b;
}
.h_top{
    max-width: 126rem;
    min-height: 6rem;
    margin: 0 auto;
    padding: 1.7rem 0;
    background: ;
}
.h_top>.logo{
    float: left;
}
.h_top>ul{
    width: 38%;
    float: right;
}
.h_top>ul>li{
    position: relative;
    float: left;
    padding: 0 2rem;
}
.h_top>ul>li:not(:first-child):before {
    content: "";
    position: absolute;
    top: 45%;
    left: 0;
    width: 1px;
    height: 11px;
    background: #fff;
}
.h_top>ul>li>a{
    display: block;
    color: #fff;
    font-size: 1.5rem;
    line-height: 7.6rem;
}
header nav {
    clear: both;
    background: #f0f0f0;
}
header nav > .menu_depth1 {
    position: relative;
    max-width: 126rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
header nav>.menu_depth1>li{
    width: 18rem;
    max-width: 18rem;
    padding: 1rem 2rem;
}
header nav>.menu_depth1>li>a{
    display: block;
    font-size: 2rem;
    line-height: 5rem;
    text-align: center;
    color: #000;
}
header nav>.menu_depth1>li>a:hover{
    font-weight: bold;
}
header nav>.menu_depth1>li:hover .menu_depth2{
    display: block;
}
header nav .menu_depth2{
    display: none;
    position: absolute;
    top: 100%;
    z-index: 100;
    width: 25.1rem;
    height: 50rem;
    padding: 1.5rem 0;
    background: #fff;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    box-shadow: 0px 1px 0px 0px #585a5d;
}
header nav .menu_depth2>li>a{
    display: block;
    margin: .5rem 1.8rem .5rem 3rem;
    font-size: 1.5rem;
    line-height: 3rem;
    color: #131313;
}
header nav .menu_depth2>li>a:hover{
    font-weight: 600;
    color: #3591dc;
}
header .nav_mobile{
    display: none;
}